.contact-container {
    margin: 4rem auto 5rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-contact {
    color: #000;
}

.contact-contentContainer {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-contactButton {
    display: inline-block;
    margin: 1rem 2rem 2rem 2rem;
}

.contact-contactButton .button {
    font-size: 24px;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    -webkit-transition: background-color .6s, color .6s;
    transition: background-color .6s, color .6s;
}

.contact-contactButton .button:hover {
    background-color: $blue;
    color: $off-white;
}

.contact-socialContainer {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.contact-socialContainer > img {
    cursor: pointer;
}

.contact-githubImage {  
    height: 50px;
}

.contact-subtitle {
    padding: 20px;
    &:hover {
        background-color: $light-grey;
    }
}

.linked {
    margin: auto;
    margin-top: 40px;
    width: 300px;
    padding: 20px;
    transition:1.7s;
    &:hover {
        background-color: $light-grey;
        border-radius: 10px;
        transform: scale(1.01);
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.411);
        transition: all 0.5s ease-in-out;
    }
}

.git {
    margin: auto;
    margin-top: 40px;
    width: 300px;
    padding: 20px;
    transition:1.7s;
    &:hover {
        background-color: $light-grey;
        border-radius: 10px;
        transform: scale(1.01);
        transition: all .5s ease-in-out;
        box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.411);
    }
}

.git > p {
    margin-bottom: 0;
}

@media only screen and (max-width: $iphone-breakpoint) {
    .contact-contactButton .button {
        font-size: 18px;
    }
}