.contact-container {
    margin: 4rem auto 5rem auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-contact {
    color: #706f6f;
}

.contact-contentContainer {
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-contactButton {
    display: inline-block;
    margin: 1rem 2rem 2rem 2rem;
}

.contact-contactButton .button {
    font-size: 24px;
    color: $blue;
    border: 2px solid $blue;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    -webkit-transition: background-color .6s, color .6s;
    transition: background-color .6s, color .6s;
}

.contact-contactButton .button:hover {
    background-color: $blue;
    color: $off-white;
}

.contact-socialContainer {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.contact-socialContainer > img {
    cursor: pointer;
}

.contact-githubImage {  
    height: 50px;
}

.contact-subtitle {
    padding: 20px;
    &:hover {
        background-color: $light-grey;
    }
}


.linked {
    padding: 20px;
    &:hover {
        background-color: $light-grey;
    }
}

.git {
    padding: 20px;
    &:hover {
        background-color: $light-grey;
    }
}

@media only screen and (max-width: $iphone-breakpoint) {
    .contact-contactButton .button {
        font-size: 18px;
    }
}