.NavBar-navBar {
    position: fixed;
    background-color: $blue;
    border-radius: 0 0 20px 20px;
}

.NavBar-item {
    // font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;

    font-family: 'Fugaz One';
    text-transform: uppercase;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    margin: 1em 2em;
    -webkit-transition: color .6s;
    transition: color .6s;
}

.NavBar-item:hover {
    color: $light-grey;
    cursor: pointer;
}

#NavBar-icon {
    margin-right: auto;
}

#NavBar-icon > img {
    width: 5rem;
    height: 5rem;
}

@media only screen and (max-width: $tablet-breakpoint) {
    #NavBar-icon {
        display: none;

    }

    .NavBar-navBar {
        justify-content: space-around;
        position: none;
    }
}

@media only screen and (max-width: $iphone-breakpoint) {
    .NavBar-navBar {
        position: none;
        font-size: 16px;
    }
}