.NavBar-navBar {
  z-index: 1;
  position: fixed;
  background: #097686;
  border-radius: 0 0 20px 20px;
}

.NavBar-item {
  text-transform: uppercase;
  position: relative;
  top: -8px;
  color: rgb(255, 255, 255);
  font-size: 0.875em;
  text-decoration: none;
  margin: 1em 2em;
}

.NavBar-item.active {
  color: rgb(124, 255, 244);
}

.NavBar-item:hover {
  color: $light-grey;
  cursor: pointer;
}

#NavBar-icon {
  margin-right: auto;
}

#NavBar-icon > img {
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: $tablet-breakpoint) {
  #NavBar-icon {
    display: none;
  }

  .NavBar-navBar {
    padding-top: 15px;
    justify-content: space-around;
    position: none;
  }
}

@media only screen and (max-width: $iphone-breakpoint) {
  .NavBar-navBar {
    position: none;
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .NavBar-navBar {
    width: 76vw;
    font-size: 14px;
  }

  .NavBar-item {
    margin: 1em 1.5em;
  }
}

@media only screen and (max-width: 435px) {
  .NavBar-navBar {
    font-size: 14px;
  }

  .NavBar-item {
    margin: 1em 1em;
    justify-content: center;
  }
}
