.NavBar-navBar {
  position: fixed;
  background-color: $blue;
  border-radius: 0 0 20px 20px;
}



.NavBar-item {
  text-transform: uppercase;
  position: relative;
  top: -6px;
  color: #fff;
  font-size: 0.875em;
  text-decoration: none;
  margin: 1em 2em;
  -webkit-transition: color 0.4s;
  // transition: color 0.4s;
}

.NavBar-item.active {
  color: rgb(0, 255, 234);
}

.NavBar-item:hover {
  color: $light-grey;
  cursor: pointer;
}


#NavBar-icon {
  margin-right: auto;
}

#NavBar-icon > img {
  width: 5rem;
  height: 5rem;
}

@media only screen and (max-width: $tablet-breakpoint) {
  #NavBar-icon {
    display: none;
  }

  .NavBar-navBar {
    justify-content: space-around;
    position: none;
  }
}

@media only screen and (max-width: $iphone-breakpoint) {
  .NavBar-navBar {
    position: none;
    font-size: 16px;
  }
}
