.about-listContainer {
  z-index: -1;
  font-size: $font-size-small;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px;
  background-color: $light-grey;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.411);
  border-radius: 1rem;
  justify-content: space-around;
}

.skills-container {
  z-index: -1;
  display: flex;
  flex-direction: column;
  font-size: $font-size-small;
  max-width: 700px;
  margin: 20px auto;
  padding: 10px;
  background-color: $light-grey;
  border-radius: 10px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.411);
  border-radius: 1rem;
  justify-content: space-around;
}

.skill-headers {
  display: flex;
  justify-content: space-around;
}

.skills-container {
  display: flex;
}
.lang-dev-container {
  display: flex;
  justify-content: space-around;
}

.certs {
  padding-top: 14px;
}

.logos {
  display: flex;
  justify-content: center;
}

.logos-img {
  height: 30px;
}

.skills-title {
  display: flex;
  justify-content: center;
  margin: 0;
  color: #000;
  font-size: 4rem;
}

.subheading {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  color: $blue;
}

div li::before {
  content: "\2022";
  color: $blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

div {
  list-style: none;
}

@media only screen and (max-width: 900px) {
  .about-listContainer {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color: $light-grey;
    border-radius: 10px;
  }

  .logos {
    display: none;
  }
}
