// Colors
$dark-grey: rgb(70, 70, 70);
$grey: rgba(102, 102, 102, 0.692);
// $blue: #118cd3;
$blue: #069da8;
$light-grey:  rgba(211, 211, 211, 0.692);

$dark-blue: #364051;
$off-white: #f7f7f7;
$dark-overlay: rgba(0, 6, 50, 0.3);
// Font Size
$font-size-large: 1.7rem;
$font-size-small: 1.5rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
//Media Query Breakpoints
$desktop-breakpoint: 75rem;
$tablet-breakpoint: 45rem;
$iphone-breakpoint: 38rem;
